/* add css module styles here (optional) */

.btn {
  cursor: pointer;
  background-color: white;
  padding: 5px 10px;
  border: 1px #000;
  width: 5rem;
  border-radius: 15px;
  margin-top: 1em;
  font-size: 1em;
  text-align: center;
  transition: all 300ms;
}

.primary {
  background: #1890ff;
  color: white;
}
.primary:hover {
  opacity: 0.8;
}

.default {
  border: 1px solid gray;
}
.default:hover {
  border-color: #1890ff;
  color: #1890ff;
}

.dashed {
  border: 1px dashed gray;
}
.dashed:hover {
  border-color: #1890ff;
  color: #1890ff;
}

.text:hover {
  background-color: rgba(128, 128, 128, 0.13);
}

.link {
  color: #1890ff;
}
.link:hover {
  color: #188fffac;
}
